
#red{
	background-color: red;
	position: absolute;
	height: 33%;
	width: 100%;
	top: 0%;
	left: 0%;
}
#blue{
    background-color: blue;
	position: absolute;
	height: 33%;
	width: 100%;
	bottom: 0%;
	left: 0%;
}